.basket {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;
    
    &__content {
        grid-column: span 8;
    }
    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    &__item {
        border-top: 0.5px solid #cacdd8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__left {
        display: flex;
        gap: 32px;
    }

    &__info {
        height: 50px;
        display: flex;
        flex-direction: column;
        gap: 16px; 
        width: 276px; 
    }

    &__text {
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        text-align: left;
    }

    &__description {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: gray;
    }

    &__pris {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
    }

    &__link-box {
        font-size: 14px;
        font-weight: 400;
        line-height: 29px;
        text-decoration-line: underline;
        display: flex;
        gap: 30px;
        color: rgb(0, 0, 0); 
    }
    &__quantity {
        border-radius: 6px;
        background: rgb(247, 246, 246);
        width: 71px;
        height: 51px;
        outline: none;
        border-color: transparent;
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 29px;
        text-align: center;
        }
    &__buttons {
        gap: 7px;
        margin-top: 18px;
        display: flex;

        &_1 {
            box-sizing: border-box;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 50px;
            width: 200px;
            height: 37px;
            background-color: white;
            color: rgb(2, 2, 2);
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            text-align: center;

        }
        &_1:hover {
            background: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            transition: 0.5s;
            
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
        border-radius: 20px;
        background: rgb(247, 246, 246);
        height: 556px;
        grid-column: span 4;
        &_data {
            display: flex;
            flex-direction: column;
            gap: 41px;
            padding-left: 27px;
            padding-right: 28px;
        }
        &_input {
            border-style: none;
            background-color: transparent;
            border-bottom: 1px solid rgb(202, 205, 216);
            outline: none;
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }
        &_buy {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 18px;
            padding-bottom: 148px;
        }
        &_total {
            display: flex;
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
        }
        &_price {
            padding-left: 10px;
            color: rgb(5, 5, 5);
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 500;
            line-height: 29px;
            text-align: left;
        }
        &_text-2 {
            box-sizing: border-box;
            border: 1px solid rgb(4, 4, 4);
            background-color: transparent;
            border-radius: 20px;
            width: 290px;
            height: 41px;
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
        }
        &_text-2:hover {
            background: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            transition: 0.5s;
        }
    }

}