@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }
    .for {
        &__item {
        height: 268px;
        }
    }
    .product-box__offer {
        column-gap: 29px;
        row-gap: 39px;
    }
    .footer__logo {
        display: none;
    }
    .filtering-form  {
        right: 5px;
    }
    .filtering-form__cart {
        right: 20px;
    }
    .basket {
        grid-template-columns: repeat(8, 1fr);
    }
    .baskrt__text {
        font-family: "Montserrat";
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
    }
    .basket__pris {
        font-weight: 400;
    }
    .basket__form_price {
        font-weight: 400;
    }
    .basket__buttons_cart {
        gap: 32px;
    }
}

@media (min-width: 768px) and (max-width: 834px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }
    .product {
        width: 345px;
    }
    .product__subtitle {
        font-weight: 400;
    }
    .product__price {
        font-weight: 400;
    }
}